.header {
  background-color: var(--bg);
  background-image: url("./images/homepage-bg.png");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 40%;
  height: 100vh;
}

.descrip-cont {
  height: 80%;
  display: flex;
  margin-right: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descrip {
  width: 50rem;
}

.descrip-title {
  display: block;
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.descrip p {
  color: var(--text-light);
  line-height: 1.8rem;
  font-size: 1.3rem;
  font-weight: 500;
}
